{% extends 'head.html' %}
{% block content %}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Checked-In</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
            <th scope="col">Wednesday</th>
        </tr>
    </thead>
    <tbody>
        {% for athlete in athletes %}
        <tr>
            <th scope="row">{{ athlete.athleteID }}</th>
            <td>{{ athlete.firstName }}</td>
            <td>{{ athlete.lastName }}</td>
            <td>{{ athlete.checkedin }}</td>
            <td>{{ athlete.saturday }}</td>
            <td>{{ athlete.sunday }}</td>
            <td>{{ athlete.wednesday }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}