{% extends 'head.html' %}
{% block content %}

<form action="" method="post">
    <fieldset class="form-group">
        {{ form.hidden_tag() }}
        <p>
            {{ form.saturday.label() }}<br>
            {{ form.saturday() }}<br>
        </p>
        <p>
            {{ form.sunday.label() }}<br>
            {{ form.sunday() }}<br>
        </p>
        <p>
            {{ form.wednesday.label() }}<br>
            {{ form.wednesday() }}<br>
        </p>
        <p>

        <p>{{ form.submit(class="btn btn-primary btn-lg") }}</p>
    </fieldset>
</form>
{% endblock content %}