{% extends 'head.html' %}
{% block content %}

<form action="" method="post">
    <div class="container center_div">
        <div class="row d-flex justify-content-center">
            <div class=".col-md-12">
                <h1>Check in {{ athlete.firstName }}</h1>
                <br><br>
                <fieldset class="form-group">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.saturday.label() }}<br>
                        {{ form.saturday(class="form-check-input") }}<br>
                    </p>
                    <p>
                        {{ form.sunday.label() }}<br>
                        {{ form.sunday(class="form-check-input") }}<br>
                    </p>
                    <p>
                        {{ form.wednesday.label() }}<br>
                        {{ form.wednesday(class="form-check-input") }}<br>
                    </p>
                    <p>By hitting submit you attest that {{ athlete.firstName }} has not been in close contact with anyone exposed to or positive with COVID-19 in the last 14 days.
                        You attest that {{ athlete.firstName }} is not showing any symptoms.
                    </p>

                    <p>{{ form.submit(class="btn btn-primary btn-lg") }}</p>
                </fieldset>
            </div>
        </div>
    </div>
</form>
{% endblock content %}