{% extends 'head.html' %}

{% block content %}

<div class="container">
    <div class="text-center">
        <h1 class="my-5">BSC Freestyle Portal</h1>

        <hr class="mb-5">
        <h1 class="my-5">Welcome!</h1>

        <p class="h4">Please fill out the informaiton on this site before you bring your child to practice. This will allow us to know who is coming ahead of time so we can properly prepare.</p>
        <p class="h5">Each family has a unique URL to sign their kids in for each week. When entering the dates your kids will attend practice, you will also agree to our COVID terms of practice.</p>
        <p class="h5">This MUST be submitted before Friday at 9PM otherwise your child will not be allowed to practice with us. This is to replace the E-Mail tracking of who is planning to come to practice each week. </p>
    </div>

    <hr class="mb-5">

    {% for athlete in athletes %}
    <a href="{{ url_for('family', lastName=athlete.lastName) }}" class="btn"> || {{ athlete.lastName }}</a>
    <br>
    {% endfor %}
    
</div>   


{% endblock content %}